<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Iniciar Sesion </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true" class="ion-content">
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">This is the menu content.</ion-content>
  </ion-menu>
  


  <ion-list>
  <form [formGroup] = 'FormCrearUsuario' (ngSubmit)="crearUsuario()">

    <ion-item>
      <ion-input formControlName="nombre" label="Nombre de usuario " labelPlacement="floating" placeholder="Ej. Fernado123"></ion-input>
    </ion-item>
      
    <ion-item>
      <ion-input formControlName="contrasena" type="password"  required=true label="Contraseña"  labelPlacement="floating" placeholder="···"></ion-input>
    </ion-item>
    <ion-button  type="submit" [disabled]="!FormCrearUsuario.valid" expand="block"  id = "present-alert"> Iniciar Sesion </ion-button>
    <ion-button expand="block" routerLink = "/rest"> Restablecer Contraseña </ion-button>


  </form>


  </ion-list>


</ion-content>

<ion-footer>

  <ion-toolbar color="primary">
    <ion-title >
      <h6> © Derechos Reservados </h6>
    </ion-title>
  </ion-toolbar>

</ion-footer>