ion-list {
      display: flex;
      flex-direction: column;
      align-items: center; 
      justify-content: center; 
      height: 100%; 
      
    }
    
    ion-item {
      max-width: 300px; 
      width: 100%; 
      margin-bottom: 20px;
      
    }
    ion-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      max-width: 400px; 
      margin: 0 auto;
    
      ion-card-header {
        ion-card-title, ion-card-subtitle {
          font-size: 14px; 
          margin: 0; 
        }
      }
    
      ion-card-content {
        img {
          max-width: 100%; 
          height: auto;
        }
      }
    }
    
    
    
    
    
    
      
    ion-input {
      
      --ion-label-floating: {
        font-size: 16px; 
        
      };
    }
    
    /* Media query para hacer el formulario responsive */
    @media (max-width: 480px) {
      ion-item {
        max-width: 90%; 
      }
    }
    
    #welcome.titulo {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Times New Roman', Times, serif;
  
    
  }
  
  ion-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    image-rendering: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    
  
  }
  titulo{
  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     
  }
  
  ion-content{

    --background: url(/Prueba1/Fondo.jpg)no-repeat center/cover fixed;
  
  
  }