<ion-header [translucent]="true" class="main-content" >
  <ion-toolbar color="primary">
    <ion-title> Inicio 
      
    </ion-title>

  </ion-toolbar>
</ion-header>




<img  src="https://png.pngtree.com/background/20231030/original/pngtree-abstract-geometric-background-in-black-a-fresh-design-for-websites-presentations-picture-image_5784223.jpg">



<ion-content [fullscreen]="true" class="ion-content"  >
  
  <ion-menu contentId="main-content">
    <ion-header>  
      <ion-toolbar>
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding" >
      <ion-content color="light">
        <ion-list [inset]="true">
          <ion-item>
            <ion-label>
              <ion-button expand="block" routerLink = "/login"> Iniciar Sesion </ion-button>
              <ion-button expand="block" (click)="cerrar()">Cerrar sesión</ion-button>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-content>
  </ion-menu>
  
  
  <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button name="apps-outline"></ion-menu-button>
          </ion-buttons>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <h1 id="welcome" class="titulo"> <strong>Bienvenido {{ nombre }} !</strong></h1> 
        <ion-card class="ion-card">
          <img alt="Silhouette of mountains" src="https://static.vecteezy.com/system/resources/thumbnails/005/184/881/small/car-symbol-logo-template-stylized-silhouette-vector.jpg" />
          <ion-card-header>
            <ion-card-title class="ion-card">Te llevo <ion-icon name="accessibility-outline"></ion-icon> <ion-icon name="car-outline"></ion-icon> </ion-card-title>
            
            <ion-card-subtitle class="ion-card">Viaja Seguro</ion-card-subtitle>
            
          </ion-card-header>
          <ion-card-content>
            <ion-button class="ion-card" (click)="irlistado()"> Ir a listado de usuarios </ion-button>
          </ion-card-content>
        </ion-card>

      </ion-content>
  </div>



</ion-content>



<ion-footer>

  <ion-toolbar color="primary">
    <ion-title >
      <h6> © Derechos Reservados </h6>
    </ion-title>
  </ion-toolbar>

</ion-footer>


